<h1> Give us some info! </h1> 
<h6>This information is not required, but it helps us find new buddies!</h6><p>


<%= form_for @profile do |f| %>
    <%=f.label "Private Account?" %>
    <%=f.radio_button :private_account, "Yes" %>Yes<%=f.radio_button :private_account, "No" %>No<p><p>
    <%=f.label "Phone Number" %>
    <%=f.text_field :phone_number %><p>
    <%=f.label "Location" %>
    <%=f.text_field :location %><p>
    <%=f.label "Skill Level" %>
    <%=f.radio_button :skill_level, "Almost Kook" %> Almost Kook <%=f.radio_button :skill_level, "Catchin Waves" %> Catchin Waves <%=f.radio_button :skill_level, "Nothin Fancy" %> Nothin Fancy <%=f.radio_button :skill_level, "A Little Flair" %> A Little Flair <%=f.radio_button :skill_level, "Basically Pro" %> Basically Pro <p>
    <%=f.submit "Update" %>
<%end%>

<small>*Information is never shared unless privacy is turned off*</small>
