    <h3>My Breaks</h3>
   <% current_user.breaks.each do |b| %>
      <li><%= link_to(b.name, user_break_path(current_user, b))%></li>
   <%end%><p>
   <%= link_to "Add new break?", new_break_path%>
<p><br>
<h6> Search Breaks by direction </h6>
   <%= form_with url: breaks_path, method: :get do |f| %>
    <%= f.text_field :direction %>
    <%= f.submit "Search" %>
    <%end%>

<%= render(partial: "breaks", locals: {breaks: @breaks})%>


