<h1>Breaks Show Page </h1>

<%binding.pry%>
<h3>Lookin at <%= @break.name%></h3>
<p><label> Location: <%= @break.location%></label></p>
<p><label> Break: <%= @break.break_type%></label></p>
<p><label> Direction: <%= @break.direction%></label></p>
<p><label> Height: <%= @break.height%></label></p>
<p><label> Water Level: <%= @break.water_level%></label></p>
<p><label> Suggested Skill: <%= @break.suggested_skill_level%></label></p>
<p><label> Shakas: <%= @break.shakas%></label></p>


<%=button_to("Delete", @break, method: :delete, data: {confirm: "Are you sure?"}) %>
<%= link_to "Edit", edit_break_path(@break) %>