<h1> Please create an account</h1>

<%= render(partial: "application/errors", locals: {errors: @user.errors.full_messages})%>

<%= form_for @user, url: form_user_helper(@user) do |f| %>
    <%= f.label "Username" %>
    <%=f.text_field :username %><p><p>
    <%=f.label "Password" %>
    <%=f.password_field :password %><p>
    <%=f.label "Confirm Password" %>
    <%=f.password_field :password_confirmation %><p>
    <%=f.submit "Sign Up" %>
<%end%>


  <p>Sign up <%= link_to ' with Google', '/auth/google_oauth2'%>.</p>
  <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true"></div>
  <p>Sign up <%= link_to ' with Facebook', '/auth/facebook'%>.</p>