<h1>User Show Page <%=current_user.username%></h1>





<%= link_to "Update Profile", new_profile_path %>
<%= link_to "Edit", edit_user_path(current_user) %>


<%= button_to "Log Out",  logout_path, method: :post%>
<%=button_to("Delete", @user, method: :delete, data: {confirm: "Are you sure?"}) %>