<h1>Welcome to Surf Buddies</h1>

<br>
<% if current_user %>
<%= link_to "My Account", user_path(current_user) %>
<% else %>
  <p><%= link_to "Log In", login_path%><p>
  <p>Create an account <%=link_to 'Here', '/signup'%>.</p>
  <p> or </p>
  <p>Sign up <%= link_to ' with Google', '/auth/google_oauth2'%>.</p>
  <div><a
  class="fb-login-button" href="<%'/auth/facebook'%>"
    data-width="" data-size="medium" 
    data-button-type="login_with" 
    data-layout="rounded" 
    data-auto-logout-link="false" 
    data-use-continue-as="true"><a/></div>
  <p>Sign up <%= link_to ' with Facebook', '/auth/facebook'%>.</p>
<% end %>
