

<%= form_for @beach do |f| %>
    <%=f.label "Beach Name:" %>
    <%=f.text_field :name %><p><p>
    <%=f.label "Street Address" %>
    <%=f.text_field :street %><p>
    <%=f.label "City" %>
    <%=f.text_field :city %><p>
    <%=f.label "Parking" %>
    <%=f.text_field :parking %><p>
    <h5> Add a Surf Break </h5>
    <%=f.fields_for :breaks, @breaks do |b| %>
        <%=b.label "Name" %>
        <%=b.text_field :name %><p><p>
        <%=b.label "Location" %>
        <%=b.text_field :location %><p>
        <%=b.label "Break Type" %>
        <%=b.text_field :break_type %><p>
        <%=b.label "Direction" %>
        <%=b.text_field :direction %><p>
        <%=b.label "Height" %>
        <%=b.text_field :height %><p>
        <%=b.label "Water Level" %>
        <%=b.text_field :water_level %><p>
        <%=b.label "Suggested Skill Level" %>
        <%=b.radio_button :suggested_skill_level, "Kooks Welcome" %> Kooks Welcome <%=b.radio_button :suggested_skill_level, "Easy" %> Easy <%=b.radio_button :suggested_skill_level, "Average" %> Average <%=b.radio_button :suggested_skill_level, "Experience Needed" %> Experience Needed <%=b.radio_button :suggested_skill_level, "Almost Pro" %> Almost Pro <p>
        <%=b.label "Shakas" %>
        <%=b.radio_button :shakas, 1 %> 1 <%=b.radio_button :shakas, 2 %> 2 <%=b.radio_button :shakas, 3 %> 3 <%=b.radio_button :shakas, 4 %> 4 <%=b.radio_button :shakas, 5 %> 5 <p>
        <%end%>
    <%=f.submit "Submit" %>
<%end%>
