

  <h3>My Beaches</h3>
   <ul><% my_beaches.each do |b| %></ul>
      <li><%= link_to(b.name, user_beach_path(current_user, b))%></li>
   <%end%>
   <%= link_to "Add new beach?", new_beach_path%>
   
<p>

   <h6> Search All Beaches </h6>
   <%= form_with url: beaches_path, method: :get do |f| %>
    <%= f.text_field :name%>
    <%= f.submit "Search" %>
   <%end%>


   <% @beaches.each do |b| %>
   <li><%= link_to(b.name, beach_path(b))%></li>
<%end%>
