<h1> Beach Show Page </h1>

<h3><%=@beach.name %></h3>
<%= @beach.street %><p><p>
<%= @beach.city %><p>
<%= @beach.parking %><p>
<%= render(partial: "breaks/breaks", locals: {breaks: @beach.breaks}) %><p><p>
<%= link_to "Add new break?", new_break_path%>
