<h1> Beach Show Page </h1>

<h3><%= @beach.name %></h3>
<h5>
<%= @beach.street %>
<%= @beach.city %>
<%= @beach.parking %><h/5>
<%= render(partial: "breaks/breaks", locals: {breaks: @beach.breaks}) %>

<%= link_to "Edit", edit_beach_path(@beach) %>

<%=button_to("Delete", @beach, method: :delete, data: {confirm: "Are you sure?"}) %>