<!DOCTYPE html>
<html>
  <head>
    <title>SurfBuddies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--Facebook-->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=1328368470860904&autoLogAppEvents=1" nonce="9aZ8Ct47"></script>
  


  <body>
  <%= button_to "Log Out",  logout_path, method: :post%>
    <%= yield %>
  </body>
</html>
